{% extends 'main.html' %} 
{% block content %}
{% load static%}
{% load widget_tweaks %}	
{%include 'blog/blog_post_heading.html'%}

		<div id="fh5co-content">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div class="row"> 
							{% include 'blog/blog_post_summery.html' %}
							<div class="col-md-9 col-md-pull-3">
								<div id="animate-box" >
									{{blogStory.story|linebreaks}}
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{%include 'blog/blog_post_features.html'%}
	{% endblock content%}
